.App {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.header {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 10px 40px;
}

.header-content {
    align-items: center;
    display: flex;
}

.header-logo {
    height: auto;
    margin-right: 15px;
    width: 50px;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: lighter;
    position: relative;
    text-transform: uppercase;
}

.header-wallet-account {
    padding: 8px 16px;
    margin-left: auto;
}