.nav-bar {
    background-color: #3b3b3b;
    padding: 15px 0;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 20px;
}

.nav-link {
    border-radius: 5px;
    color: #b3b3b3;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
    color: #ef25a2;
}

.nav-link.active {
    background-color: #1a1a1a;
    border-color: #00ffcc;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}