.wallet-account {
    border-color: #b3b3b3;
    border-radius: 8px;
    border-style: solid;
    border-width: 0.5px;
    color: #ffffff;
    padding: 4px 16px;
    text-align: left;
}

.wallet-account-address {
    color: #f769c0;
    font-size: 12px;
    margin-bottom: 0;
}

.wallet-account-sol-balance {
    font-size: 14px;
    margin-top: 8px;
}